[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/home/lassemaatta/.config/systemd/user/mbsync.sh

[Install]
WantedBy=default.target
